html,body{
	overflow-x: hidden;
}
body
{
	background: #000000;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }
/* end all heading */

/* start all section */
#work, #about, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }
/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;

  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */
/* Pre loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1001;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

/*--Pre loader---*/
/* navigation section */
.sticky-navigation { opacity: 0; }
.navbar-default {
  background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand {
  line-height: 38px;
  position: relative;
  bottom: 20px;
}
.navbar-default .navbar-nav li a {
  color: #202020;
  font-weight: 700;
  line-height: 21px;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav li a:hover { color: #fff; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #000;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent
}
.site-logo {
  height: 52px;
  width: auto;
}

/* End Nav here */


/* start home */
#home
	{
        background: url('../img/home-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center;
				background-attachment: fixed;
	}
#home h1
    {
        border-top: 2px solid #5f5f5f;
        border-bottom: 2px solid #5f5f5f;
        color:#FFE4E1;
        display: inline-block;
        padding: 25px 35px;
        margin: 30px 0;
			  text-transform: uppercase;
				font-size: 60px;
				margin-top: 10px;

    }
#home h2
    {
        padding-bottom: 10px;
				color: #f5f5f5;
    }
		/* Home Button*/
#home .btn
    {
        background: #8d8da8;
				color: #aa0f4c;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;
				outline: none;
				border: none;
				border-radius: 70px;
				box-shadow: 0px 1px 15px rgba(0, 72, 138, 2.4);

    }
#home .btn:hover
    {
        background: #111;
			  color: #ffffff;
				box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.4);

    }
		/* Home Button*/

/* end home */

/* start work */
#work
    {
			background: rgb(1,11,94);
			background: linear-gradient(90deg, rgba(1,11,94,1) 0%, rgba(1,64,94,1) 49%, rgba(1,11,94,1) 100%);
    }
#work h2
    {
        text-align: center;
				border-top: 2px dotted #fff;
				border-bottom: 2px dotted #fff;
				padding: 5px 0px;
    }

#work .media {
		    margin-top: 30px;
		    background: #0e0e0e;
		    padding: 10px 20px;
		    box-shadow: 0px 10px 0px #5EBA19;
				transition: box-shadow .5s ease;
		}
#work .media:hover{
	     box-shadow: 0px 10px 0px #fff;
			 cursor: pointer;
}

#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #72e819;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
#work p{
	font-size: 15px;
}
/* end work */

/* start about */

#about .about_heading{
    text-align: center;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    padding: 5px 0px;
		text-transform: uppercase;
}
#about img {
    border: 1px solid blue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0563BA;
    margin-top: 24px;
	}
	#about .name{
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		color: #45505b;
	}
#about h4
    {
        padding: 10px 0;
	     	color: #D43F52;
				font-style: normal;
				font-size: 16px;
				text-align: center;
				border-bottom: 1px solid #D43F52;
    }
#about .aboutme{
	text-align: justify;
}
.resume{
	text-decoration: none;
	color: #D43F52;
}
.resume:hover{
	text-decoration: none;
}
		/*----Progress---*/
.skills .progress {
  height: 50px;
  display: block;
  background: transparent;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #0563bb;
}



/* end about */

/* start portfolio */
#portfolio{
	background: rgb(123,50,6);
background: linear-gradient(90deg, rgba(123,50,6,1) 1%, rgba(72,11,0,0.9416141456582633) 46%, rgba(123,50,6,1) 95%);
}
#portfolio .about_heading{
    text-align: center;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    padding: 5px 0px;
		text-transform: uppercase;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: transparent;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
	background: #09500a;
	border-radius: 21px 0px 21px 0px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #470C00;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: yellow;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #7B3206;
  margin: 25 10px;
  font-size: 40px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* end portfolio */
/*---Start Fact--*/
#facts
	{
        background: url('../img/ali.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align:center;
				background-attachment: fixed;
        height: auto;
       
	}
	#facts .fact-wrapper{
		background: rgb(0,0,0,.7);
		height: 100%;
		background-size: cover;
		padding-bottom: 40px;
	}
#facts .counter{
    text-align: center;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    padding: 5px 0px;
		text-transform: uppercase;
}
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255,255,255,.7);
	border-radius: 65px 0px 65px 0px;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
	color: #000;
}
/*--End Fact---*/

/*Start why hire me--*/

#whyme{
	background: rgb(1,11,94);
	background: linear-gradient(90deg, rgba(1,11,94,1) 0%, rgba(1,93,94,1) 49%, rgba(1,11,94,1) 100%);
  padding-bottom: 120px;
	padding-top: 100px;
}
.why-me{
	text-align: center;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	padding: 5px 0px;
	text-transform: uppercase;
}
.box-content-left {
    background: white;
    padding: 25px;
    overflow: hidden;
    border-radius: 90px 197px 90px 197px;
}
.box-content-right {
  background: white;
  padding: 25px;
  overflow: hidden;
	  border-radius: 197px 90px 197px 90px;
}
.service-item {
  overflow: hidden;
  margin-bottom: 30px;
}
.service-item.service-right .service-icon {
  float: left;
  text-align: left;
  margin-right: 30px;
}
.service-item.service-right .service-content {
  text-align: left;
}
.service-item.service-left .service-icon {
  float: right;
  text-align: right;
  margin-left: 30px;
}
.service-item.service-left .service-content {
  text-align: right;
}
.service-item .service-content {
  overflow: hidden;
}
.service-item .service-content h4 {
    font-size: 21px;
    font-weight: normal;
    color: #010E5E;
}
.service-item .service-icon {
  margin-top: 15px;
  width: 80px;
  height: 80px;
  display: block;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.service-item .service-icon i {
  width: 80px;
  height: 80px;
  border: 2px solid #d5d5d5;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  color: #010F5E;
  display: block;
  font-size: 1.89em;
}
.service-item:hover .service-icon {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.service-item:hover .service-icon i {
  color: #010F5E;
  border-color: #010E5E;
}
@media screen and (max-width: 768px) {
  .service-item .service-icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-size: 1.4em;
  }
  .service-item:hover .service-icon {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .service-item.service-right .service-icon {
    float: none;
    margin: 0 auto 40px auto;
  }
  .service-item.service-right .service-content {
    text-align: center;
  }
  .service-item.service-left .service-icon {
    float: none;
    margin: 0 auto 40px auto;
  }
  .service-item.service-left .service-content {
    text-align: center;
  }
}


/*End why hire me--*/

/*--Testimonial--*/
#testimonials
	{
        background: url('../img/testi-bg.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        text-align:center;
				background-attachment: fixed;
        height: auto;
        background-position:center;
	}
	#testimonials .fact-wrapper{
		background: rgb(0,0,0,.7);
		height: 100%;
		background-size: cover;
		padding-bottom: 40px;
	}
.reference{
	text-align: center;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	padding: 5px 0px;
	text-transform: uppercase;
}
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #c73333;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #0563bb !important;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}


/*--Testimonial--*/
/*
---------------------------------------------
accordions
---------------------------------------------
*/

#frequently-question {
	background:#000;
	padding-top: 100px;
	padding-bottom: 120px;
}
.ask-question{
	text-align: center;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	padding: 5px 0px;
	text-transform: uppercase;
}

.accordions {
  background-color: transparent;

}
.accordion-head {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 200ms ease-in-out;
	color: #fff;

}
@media screen and (min-width: 768px) {
  .accordion-head {
    padding: 1rem;
    font-size: 2rem;
  }
}
.accordion-head .icon {
  float: right;
  transition: transform 200ms ease-in-out;
}
.accordion-head.is-open {
  color: #3ac73c;
  border-bottom: none;
	font-size: 30px;
}
.accordion-head.is-open .icon {
  transform: rotate(45deg);
}
.accordion-body {
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;

}
.accordion-body > .content {
  padding: 20px;
  padding-top: 0;
	color: #e6d9d9;
}
/* START SOCIAL */
.tm-social {
  text-transform: uppercase;
}
.tm-social .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tm-social .col-md-4 {
  padding: 0;
  margin: 0;
}
.facebook:hover,
.twitter:hover,
.pinterest:hover {
  background: #202020;
}
.facebook { background: #3b5998; }
.twitter { background: #00b22d; }
.pinterest { background:#0A66C2; }
.media {
  padding: 80px 40px 80px 40px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.tm-social a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
.tm-social .media .fa {
  background: #ffffff;
  border-radius: 2px;
  color: #707070;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 20px;
}

.tm-social-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
/* END SOCIAL */

/*--End accordian--*/
/* start contact */
/*
---------------------------------------------
contact
---------------------------------------------
*/
#contact{
	padding-top: 0;
	padding-bottom: 0;
}
#contact-us .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: hidden;
}

#contact-us .col-lg-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-field {
  background-color: rgba(250, 250, 250, 0.3);
}

.contact-form {
  padding: 100px;
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
}

@media (max-width: 765px) {
  .contact-form {
    padding: 60px;
    margin-top: -7px;
  }
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: none;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form {
  text-align: center;
}

.contact-form ::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.contact-form ::placeholder {
  color: #fff;
}
a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #00b4c6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #0088e8;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #0088e8;
}

/* end contact */

/* start footer */
footer
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #D43F52;
    }
/* end social icon */
/* Scroll To Top */

.scroll-to-top {
    background-color: rgba(0,0,0,.075);
    display: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 100%;
    line-height: 42px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 9999999;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    font-weight: normal;
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    color: #ffffff;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}